// Headline/Display - Rebound
// ==================================

// Header / Display
@font-face {
  font-family: "DIN-Condensed-Bold";
  src: url("../fonts/DIN-Condensed-Bold.woff2") format("woff2"),
    url("../fonts/DIN-Condensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Caption
@font-face {
  font-family: "hoefler-text-regular";
  src: url("../fonts/hoefler-text-regular.woff2") format("woff2"),
    url("../fonts/hoefler-text-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// Handwriting
@font-face {
  font-family: "Hargalia";
  src: url("../fonts/Hargalia.woff2") format("woff2"),
    url("../fonts/Hargalia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


