@use "../abstracts/variables" as v;

.letters-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

.letters-lightbox-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: v.$lightbrown;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    max-width: 600px;
    width: 90%;
    padding: 24px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 12px;

    h3 {
        margin-bottom: 20px;
    }
}

.letters-lightbox-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-sect-grey.svg);
    background-size: cover; 
    background-position: center;
    opacity: 0.5;
    mix-blend-mode: multiply; 
    pointer-events: none; 
    z-index: 5; 
}

.letters-lightbox-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}