@use "../abstracts/variables" as v;

// Mobile Style
.display {
    font-family: v.$header-font;
    font-size: v.$display;
    color: v.$black;
    margin-bottom: 12px;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}

.header {
    font-family: v.$header-font;
    font-size: v.$header;
    color: v.$black;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.sub-head {
    font-family: v.$header-font;
    font-size: v.$subhead;
    color: v.$black;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.sec-head {
    font-family: v.$quote;
    font-size: v.$header;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}

.quote {
    font-family: v.$quote;
    font-size: v.$header;
}

.handwrite {
    font-family: v.$handwriting;
    font-size: v.$subhead;
    color: v.$black;
    letter-spacing: 1.2px;
    line-height: 24px;
}

.caption {
    font-family: v.$body-font;
    font-size: v.$caption;
    color: v.$darkgrey;
    line-height: 14px;
}

.letter-quote {
    font-family: v.$quote;
    font-size: v.$subhead;
}

.body-text {
    font-family: v.$body-font;
    font-size: v.$body;
    font-weight: 400;
    color: v.$darkgrey;
    line-height: 16px;
}



.letter-author {
    font-family: v.$header-font;
    font-size: v.$body;
    color: v.$darkgrey;
    line-height: 14px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

.bold {
    font-weight: 800;
}

// Text Color
.t-red {
    color: v.$red;
}

.t-orange {
    color: v.$orange;
}

.t-green {
    color: v.$green;
}

.t-brown {
    color: v.$brown;
}

.t-blue {
    color: v.$blue;
}

.t-white {
    color: v.$white;
}


// Tablet Size
@media screen and (min-width: 768px) {
    .display {
        font-family: v.$header-font;
        font-size: v.$m-display;
        color: v.$black;
        margin-bottom: 14px;
    }
    
    .header {
        font-family: v.$header-font;
        font-size: v.$m-header;
    }
    
    .sub-head {
        font-family: v.$header-font;
        font-size: v.$m-subhead;
    }
    
    .body-text {
        font-family: v.$body-font;
        font-size: v.$m-body;
        // color: v.$darkgrey;
        line-height: 18px;
    }

    .caption {
        font-family: v.$body-font;
        font-size: v.$m-caption;
        color: v.$darkgrey;
        line-height: 14px;
    }

    .sec-head {
        font-family: v.$quote;
        font-size: v.$m-header;
        letter-spacing: 7.2px;
        text-transform: uppercase;
    }
    
    .quote {
        font-family: v.$quote;
        font-size: v.$m-header;
    }

    .handwrite {
        font-family: v.$handwriting;
        font-size: v.$m-subhead;
        color: v.$black;
        letter-spacing: 2.2px;
        line-height: 28px;
    }
    
    .caption {
        font-family: v.$body-font;
        font-size: v.$m-caption;
        color: v.$darkgrey;
        line-height: 14px;
    }
    
    .letter-quote {
        font-family: v.$quote;
        font-size: v.$m-subhead;
    }
}

// Desktop Size
@media screen and (min-width: 1200px) {
    .display {
        font-family: v.$header-font;
        font-size: v.$l-display;
        color: v.$black;
        margin-bottom: 18px;
    }
    
    .header {
        font-family: v.$header-font;
        font-size: v.$l-header;
        // color: v.$black;
    }
    
    .sub-head {
        font-family: v.$header-font;
        font-size: v.$l-subhead;
    }
    
    .body-text {
        font-family: v.$body-font;
        font-size: v.$l-body;
        // color: v.$darkgrey;
        line-height: 20px;
    }

    .caption {
        font-family: v.$body-font;
        font-size: v.$l-caption;
        color: v.$darkgrey;
        line-height: 14px;
    }

    .sec-head {
        font-family: v.$quote;
        font-size: v.$l-header;
        letter-spacing: 7.2px;
        text-transform: uppercase;
    }
    
    .quote {
        font-family: v.$quote;
        font-size: v.$l-header;
    }

    .handwrite {
        font-family: v.$handwriting;
        font-size: v.$l-subhead;
        color: v.$black;
        letter-spacing: 2.8px;
        line-height: 32px;
    }
    
    .caption {
        font-family: v.$body-font;
        font-size: v.$l-caption;
        color: v.$darkgrey;
        line-height: 14px;
    }
    
    .letter-quote {
        font-family: v.$quote;
        font-size: v.$l-subhead;
    }
}