@use "../abstracts/variables" as v;

#blogs-hero {
    position: relative;
    padding: 120px 24px;
    margin-top: 0;
    background-image: url(../images/blog_banner.png);
    background-position: center;
    background-size: cover;

    h2 {
        color: v.$red;
        z-index: 5;
        margin-bottom: 0;
    }

    p {
        color: v.$white;
        z-index: 5;
    }

    .bold {
        display: block;
    }
}

#blogs-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(37,37,37);
    background: radial-gradient(circle, rgba(37,37,37,1) 0%, rgba(255,255,255,1) 100%);
    opacity: 0.8;
    mix-blend-mode: multiply; 
    pointer-events: none; 
    z-index: 5; 
}

#other-blogs {
    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }
}

// Blog Detail
#blog-detail {
    margin-top: 20px;

    .container {
        padding: 24px;

        .container-1 {
            .paragraph {
                p {
                    margin-top: 12px;
                }
            }
        }

        img {
            height: 300px;
            object-fit: cover;
        }
    }
}

// Share Icons
#share {
    margin-top: 20px;
    .socmed-cont {
        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            li {
                list-style: none;

                svg {
                    color: v.$black;
                }
            }
        }
    }
}

// Comments
#comment {
    padding: 24px;

    .comment-form {
        display: flex;
        flex-direction: row;
    }
    
    .comments {
        background-color: v.$white;
        margin-top: 20px;
        border: solid 1px v.$brown;

        .comment-content {
            width: 100%;
            padding: 12px;
        }

        .container-inline {
            display: flex;
            align-items: center;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}

// Latest Blogs
#latest-blogs {
    padding-top: 0;

    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }

    .carousel-cont {
        .carousel-item-gen-two {
            display: flex;
            flex-direction: row;

            .container {
                img {
                    height: 200px;
                }
            }
        }
    }

    // Other Blogs
    #other-blogs {
        .container-inline {
            padding-bottom: 0;
        }
    }
}

// Tablet Size
@media screen and (min-width: 768px) {
    #blogs-hero {
        padding: 150px 24px;
        margin-top: 64px;
        margin-bottom: 48px;
    }

    #latest-blogs {
        padding-bottom: 48px;

        .container-inline {
            padding: 24px 48px;
        }
    }

    #other-blogs {
        padding: 48px 48px;

        .container-inline {
            padding: 24px 48px;
        }
    }

    // Blog Detail
    #blog-detail {
        margin-top: 20px;

        .container {
            padding: 48px;

            .container-1 {
                .paragraph {
                column-count: 2;
                column-gap: 24px;

                p {
                    margin: 0;
                }
            }
            }
            

            img {
                height: 400px;
                object-fit: cover;
            }
        }
    }

    // Latest Blogs
    #latest-blogs {
        padding-left: 48px;
        padding-right: 48px;
        
        .carousel-cont {
            padding: 0 24px;
            .carousel-item-gen-two {
                display: flex;
                flex-direction: row;
                padding: 24px;

                .container {
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }

    // Other Blogs
    #other-blogs {
        .carousel-cont {
            .carousel-item-gen {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 24px 48px;
                gap: 24px;
            }
        }
    }

    #comment {
        padding: 48px;
    }
}

// Laptop Size
@media screen and (min-width: 1200px) {
    #blogs-hero {
        padding: 200px 24px;
        margin-top: 72px;
    }

    // Latest Blogs
    #latest-blogs {
        padding: 48px 96px;

        .carousel-cont {
            
            .carousel-item-gen-two {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 24px;
                gap: 24px;

                .container {
                    img {
                        height: 500px;
                    }
                }
            }

            .carousel-pagination-two {
                display: none;
            }
        }
    }

    #other-blogs {
        padding: 48px 96px;
    }

    // Blog Detail
    #blog-detail {
        margin-top: 20px;

        .container {
            padding: 128px;

            img {
                height: 700px;
                object-fit: cover;
            }
        }
    }

    #comment {
        padding: 128px;
    }
}