@use "../abstracts/variables" as v;


.hero-donor {
    padding: 120px 24px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/map-texture.svg);
    background-size: cover;

    #img-1 {
        width: 200px;
        top: -10px;
        right: 5%;
    }

    #img-2 {
        width: 100px;
        top: 50px;
        left: 10%;
    }

    #img-3 {
        width: 180px;
        bottom: 20px;
        left: 5%;
    }

    #img-4 {
        width: 220px;
        bottom: -20px;
        right: -5%;
    }
}

// Package Carousel
// Basic Horizontal Scrolling
#packages {
    margin: 40px auto;
}

#package-carousel {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 24px;
    scrollbar-width: none;

    .container-2 {
        flex: 0 0 auto;
        width: 80%;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .container-1 {
            padding: 12px 0 0 0;
        }
    }

    ul {
        li {
            margin-left: 12px;
        }
    }
}
  
  .carousel::-webkit-scrollbar {
    display: none;
}

// Basic Milestone Horizontal Scrolling
#milestone-carousel {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 16px;
    scrollbar-width: none; 

    .container-2 {
        flex: 0 0 auto;
        width: 100%;
    }
}
  
  .carousel::-webkit-scrollbar {
    display: none;
}

// About Donor
#about-donor {
    position: relative;

    .container {
        margin: 24px 24px;
    }
}

// Donors
#donors {
    margin: 0 auto;
}

// Sponsors
#sponsors {
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        padding-left: 24px;
    }
}

// Video
#donor-video {
    padding: 24px;
    margin-bottom: 48px;
}

// Sliding Logo Sponsors
@keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%)
    }
}

.sliding-logo {
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sliding-logo:hover .title-slide {
    animation-play-state: paused;
}

.logo-slide {
    display: flex;
    flex-direction: row;
    animation: 20s slider infinite linear;
    align-items: center;

    img {
        width: 150px;
        padding: 20px;
    }
}

// Milestone
#milestone {
            
    #milestone-carousel {

        .container-2 {

            .container-1 {
                justify-content: center;
                align-items: center;

                .achieved {
                    font-weight: 800;
                    color: v.$blue;
                }

                .locked {
                    font-weight: 800;
                    color: v.$grey;
                }
            }
        }
    }
}

// Be a Donor
#be-a-donor {
    padding-top: 48px;
    margin: 0 auto;
}

// Shop
#shop {
    padding: 80px 24px;
}

#support-cta {
    padding: 80px 24px;
    background-color: v.$red;
    color: v.$white;
    gap: 20px;
}


@media screen and (min-width: 768px) {
    .hero-donor {
        padding: 150px 24px;
        margin-top: 120px;

        #img-1 {
            width: 250px;
            top: 20px;
            right: -5%;
        }
    
        #img-2 {
            width: 220px;
            top: 10px;
            left: 10%;
        }
    
        #img-3 {
            width: 250px;
            bottom: 30px;
            left: 5%;
        }
    
        #img-4 {
            width: 280px;
            bottom: 50px;
            right: -2%;
        }
    }

    #about-donor {
        position: relative;

        .container {
            padding: 32px 72px 32px 72px;
        }
    }

    #donors {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        #top-donor {
            width: 30%;
            padding-right: 10px;
            padding-top: 24px;

            .container-donorlist {
                align-items: center;
                justify-content: center;
            }
            
        }

        #packages {
            margin: 0 auto;
            justify-content: start;
            align-items: start;
            padding-top: 24px;

            h3 {
                text-align: start;
                padding-left: 36px;
            }
        }

        #package-carousel {
            display: flex;
            flex-direction: column;
            gap: 16px;
            overflow-x: visible;
            scroll-snap-type: none;
            padding: 16px;
        
            .container-2 {
                width: 100%;
                height: auto;
            }
            
            img {
                width: 300px;
                padding-left: 0;
            }

            .container-1 {
                padding: 24px;
            }
        }
    }

    #milestone {
        padding: 24px 72px 32px 72px;
            
        #milestone-carousel {
            
            .container-2 {
                img {
                    width: 300px;
                }

                .container-1 {
                    justify-content: start;
                    align-items: start;
                    text-align: start;
                }
            }
        }
    }

    // Video
    #donor-video {
        padding: 0 48px 48px 48px;
        margin-bottom: 48px;
    }

    #sponsors {
    
        h2 {
            padding-left: 36px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-donor {
        padding: 200px 24px;
        margin-top: 100px;

        #img-1 {
            width: 350px;
            top: 50px;
            right: 10%;
        }
    
        #img-2 {
            width: 250px;
            top: 80px;
            left: 5%;
        }
    
        #img-3 {
            width: 350px;
            bottom: 50px;
            left: 10%;
        }
    
        #img-4 {
            width: 420px;
            bottom: 50px;
            right: -5%;
        }
    }


    #about-donor {
        position: relative;

        .container {
            padding: 72px 250px;
        }
    }

    #donors {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        #top-donor {
            width: 30%;
            right: 0;

            .container-donorlist {
                align-items: center;
                justify-content: center;
            }
            
        }
    }

    .logo-slide {
        animation: 20s slider infinite linear;
    
        img {
            width: 200px;
            padding: 20px;
        }
    }

    #milestone {
        padding: 48px 128px;

        #milestone-carousel {

            .container-2 {

                .container-1 {
                    justify-content: start;
                    align-items: start;
                    text-align: start;
                }
            }
        }
    }

    #support-cta {
        padding: 80px 24px;
    }

    // Video
    #donor-video {
        padding: 0 144px 48px 144px;
        margin-bottom: 48px;
    }

    #sponsors {
    
        h2 {
            padding-left: 224px;
        }
    }
    
}