@use "../abstracts/variables" as v;

#hero-donor {
    padding: 172px 24px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/map-texture.svg);
    background-size: cover;
}

// Package Carousel
// Basic Horizontal Scrolling
#packages {
    margin: 40px auto;
}

#package-carousel {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 24px;
    scrollbar-width: none;

    .container-2 {
        flex: 0 0 auto;
        width: 80%;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .container-1 {
            padding: 12px 0 0 0;
        }
    }

    ul {
        li {
            margin-left: 12px;
        }
    }
}
  
  .carousel::-webkit-scrollbar {
    display: none;
}

// Basic Milestone Horizontal Scrolling
#milestone-carousel {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 16px;
    scrollbar-width: none; 

    .container-2 {
        flex: 0 0 auto;
        width: 100%;
    }
}
  
  .carousel::-webkit-scrollbar {
    display: none;
}

// About Donor
#about-donor {
    position: relative;

    #donor-video {
        position: absolute;
        z-index: 1;
        width: clamp(350px, 50%, 450px);
        height: auto;
        top: -60px;
    }

    .container {
        margin-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Donors
#donors {
    margin: 40px auto;
}

// Sponsors
#sponsors {
    margin: 40px auto;
    overflow: hidden;
}
// Sliding Logo Sponsors
@keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%)
    }
}

.sliding-logo {
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sliding-logo:hover .title-slide {
    animation-play-state: paused;
}

.logo-slide {
    display: flex;
    flex-direction: row;
    animation: 20s slider infinite linear;
    align-items: center;

    img {
        width: 150px;
        padding: 20px;
    }
}

// Milestone
#milestone {
            
    #milestone-carousel {

        .container-2 {

            .container-1 {
                justify-content: center;
                align-items: center;

                .achieved {
                    font-weight: 800;
                    color: v.$blue;
                }

                .locked {
                    font-weight: 800;
                    color: v.$grey;
                }
            }
        }
    }
}

// Be a Donor
#be-a-donor {
    margin: 40px auto;
}

// Shop
#shop {
    padding: 80px 24px;
}

#support-cta {
    padding: 80px 24px;
    background-color: v.$red;
    color: v.$white;
    gap: 20px;
}


@media screen and (min-width: 768px) {
    #hero-donor {
        padding: 256px 24px;
        margin-top: 0;
    }

    #about-donor {
        position: relative;

        #donor-video {
            position: absolute;
            z-index: 1;
            width: clamp(500px, 50%, 800px);
            height: auto;
            top: -60px;
        }

        .container {
            padding: 128px 72px 32px 72px;
        }
    }

    #donors {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        #top-donor {
            width: 30%;
            padding-right: 10px;

            .container-donorlist {
                align-items: center;
                justify-content: center;
            }
            
        }

        #packages {
            margin: 0 auto;
            justify-content: start;
            align-items: start;

            h3 {
                text-align: start;
                padding-left: 36px;
            }
        }

        #package-carousel {
            display: flex;
            flex-direction: column;
            gap: 16px;
            overflow-x: visible;
            scroll-snap-type: none;
            padding: 16px;
        
            .container-2 {
                width: 100%;
                height: auto;
            }
            
            img {
                width: 300px;
                padding-left: 0;
            }

            .container-1 {
                padding: 24px;
            }
        }
    }

    #milestone {
        padding: 32px 72px;
            
        #milestone-carousel {
            
            .container-2 {
                img {
                    width: 300px;
                }

                .container-1 {
                    justify-content: start;
                    align-items: start;
                    text-align: start;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #hero-donor {
        padding: 356px 24px;
        margin-top: 0;
    }

    #about-donor {
        position: relative;

        #donor-video {
            position: absolute;
            z-index: 1;
            width: clamp(600px, 50%, 900px);
            height: auto;
            top: -60px;
        }

        .container {
            margin-top: 260px;
            padding: 150px 250px 72px 250px;
        }
    }

    #donors {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        #top-donor {
            width: 30%;
            right: 0;

            .container-donorlist {
                align-items: center;
                justify-content: center;
            }
            
        }
    }

    .logo-slide {
        display: inline-block;
        animation: 20s slider infinite linear;
    
        img {
            width: 200px;
            padding: 20px;
        }
    }

    #milestone {
        padding: 48px 128px;

        #milestone-carousel {

            .container-2 {

                .container-1 {
                    justify-content: start;
                    align-items: start;
                    text-align: start;
                }
            }
        }
    }

    #support-cta {
        padding: 80px 24px;
    }
    
}