@use "../abstracts/variables" as v;

#hero-donor {
    margin-top: 80px;
    margin-bottom: 80px;
}

#upcoming-events {
    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }
}