@use "../abstracts/variables" as v;

#hero-events {
    padding: 172px 24px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/map-texture.svg);
    background-size: cover;
}

#upcoming-events {
    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }
}

#past-events {
    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }
}

// Tablet Size
@media screen and (min-width: 768px) {
    #hero-events {
        padding: 256px 24px;
        margin-top: 0;
    }

    #upcoming-events {
        padding-left: 48px;
        padding-right: 48px;

        #upcoming-e {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 24px;
            gap: 24px;

            .container {
                img {
                    height: 300px;
                    object-fit: cover;
                }
                
                .container-1 {
                    padding: 24px 0 0 0;

                    .container-inline {
                        padding: 0;
                    }
                }
            }
        }

        .carousel-pagination-two {
            display: none;
        }

    }

    #past-events {
        padding-left: 48px;
        padding-right: 48px;
    }

    #past-e {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 24px;
        gap: 24px;

        .container {

            .container-1 {
                padding: 24px 0 0 0;

                .container-inline {
                    padding: 0;
                }
            }
        }
    }
    
}

// Laptop Size
@media screen and (min-width: 1200px) {
    #hero-events {
        padding: 356px 24px;
        margin-top: 0;
    }

    #upcoming-events {
        padding-left: 96px;
        padding-right: 96px;

        #upcoming-e {

            .container {
                img {
                    height: 500px;
                }

                .container-1 {
                    padding: 24px 0 0 0;

                    .container-inline {
                        padding: 0;
                    }
                }
            }
        }
    }

    #past-events {
        padding-left: 96px;
        padding-right: 96px;
    }
}