@use "../abstracts/variables" as v;

#history-hero {
    position: relative;
    padding: 120px 24px;
    margin-top: 0;
    background-image: url(../images/2_halftone.png);
    background-position: center;
    background-size: cover;

    h2 {
        color: v.$red;
        z-index: 5;
        margin-bottom: 0;
    }

    p {
        color: v.$white;
        z-index: 5;
    }

    .bold {
        display: block;
    }
}

#history-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(37,37,37);
    background: radial-gradient(circle, rgba(37,37,37,1) 0%, rgba(255,255,255,1) 100%);
    opacity: 0.8;
    mix-blend-mode: multiply; 
    pointer-events: none; 
    z-index: 5; 
}

#history-nav {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 90;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        #victoria {
            white-space: nowrap;
        }

        #letters {
            white-space: nowrap;
        }

        li {
            list-style: none;
            padding: 0 20px;
            text-align: center;

            a {
                text-decoration: none;
            }
        }
    }

    .navlink {
        position: relative;
        transition: transform 0.3s ease;
        color: v.$white;
    }

    .navlink:hover {
        text-decoration: none;
        color: v.$red;
    }

    .navlink.active {
        text-decoration: none;
        color: v.$red;
    }
}

.history-highlight {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.history-line-1 {
    position: absolute;
    z-index: 1;
    left: clamp(24px, 6.5vw, 100px);
    top: 40px;

    width: 2px;
    height: 100%;

    border-left: 2px dashed v.$grey;
}

.history-line {
    position: absolute;
    z-index: 1;
    left: clamp(24px, 6.5vw, 100px);
    width: 2px;
    height: 100%;

    border-left: 2px dashed v.$grey;
}

.history-line-end {
    position: absolute;
    z-index: 1;
    left: clamp(24px, 6.5vw, 100px);

    width: 2px;
    height: 40px;

    border-left: 2px dashed v.$grey;
}

.history-circle {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 5%;
    z-index: 10;
}

.history-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 32px 24px 24px 56px;
    gap: 20px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    span {
        display: block;
    }
    
    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.history-detail-rev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 32px 24px 24px 56px;
    gap: 20px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    span {
        display: block;
    }
    
    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 5px;
    }
}

// Letters
.letter-carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
}

.card-letter {
    animation: slideleft infinite 40s linear;
}
  
// Animation
@keyframes slideleft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
}

// Tablet Size
@media screen and (min-width: 768px) {
    #history-hero {
        padding: 150px 24px;
        margin-top: 64px;
    }

    #history-nav {
    
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            #victoria {
                white-space: nowrap;
            }
    
            #letters {
                white-space: nowrap;
            }
    
            li {
                list-style: none;
                padding: 0 80px;
                text-align: center;
    
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .history-highlight {
        position: relative;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 48px;
        padding-right: 48px;
    }
    
    .history-line-1 {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 40px;
        margin-left: 7.5px;
    
        width: 2px;
        height: 100%;
    
        border-left: 2px dashed v.$grey;
    }
    
    .history-line {
        position: absolute;
        z-index: 1;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: 7.5px;
    
        border-left: 2px dashed v.$grey;
    }
    
    .history-line-end {
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-left: 7.5px;
    
        width: 2px;
        height: 40px;
    
        border-left: 2px dashed v.$grey;
    }
    
    .history-circle {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 50%;
        z-index: 10;
    }
    
    .history-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 24px;
    
        padding: 32px 24px 24px 56px;
        gap: 40px;
    
        img {
            width: 100%;
            height: 300px;
            padding-right: 20px;
            object-fit: cover;
        }

        span {
            display: block;
        }
        
        h3 {
            margin-bottom: 15px;
        }
    
        p {
            margin-bottom: 10px;
        }
    }

    .history-detail-rev {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 24px;
        direction: rtl;
    
        padding: 32px 24px 24px 56px;
        gap: 40px;

        .container {
            margin-right: 12px;
        }
    
        img {
            width: 100%;
            height: 300px;
            padding-right: 20px;
            object-fit: cover;
        }

        span {
            display: block;
        }
        
        h3 {
            margin-bottom: 15px;
        }
    
        p {
            margin-bottom: 10px;
        }
    }
    
}

// Desktop Size
@media screen and (min-width: 1200px) {
    #history-hero {
        padding: 200px 24px;
        margin-top: 72px;
    }

    #history-nav {
    
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            #victoria {
                white-space: nowrap;
            }
    
            #letters {
                white-space: nowrap;
            }
    
            li {
                list-style: none;
                padding: 0 180px;
                text-align: center;
    
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .history-highlight {
        padding-left: 144px;
        padding-right: 144px;
    }

    .history-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 24px;
    
        padding: 32px 24px 24px 56px;
        gap: 40px;
    
        img {
            width: 100%;
            height: 400px;
            padding-right: 20px;
            object-fit: cover;
        }

        span {
            display: block;
        }
        
        h3 {
            margin-bottom: 20px;
        }
    
        p {
            margin-bottom: 15px;
        }
    }

    .history-detail-rev {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 24px;
        direction: rtl;
    
        padding: 32px 24px 24px 56px;
        gap: 40px;

        .container {
            margin-right: 12px;
        }
    
        img {
            width: 100%;
            height: 400px;
            padding-right: 20px;
            object-fit: cover;
        }

        span {
            display: block;
        }
        
        h3 {
            margin-bottom: 20px;
        }
    
        p {
            margin-bottom: 15px;
        }
    }
}