@use "../abstracts/variables" as v;

// Mobile Style
#hero {
    margin: 128px auto;
}

#letters {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-letter {
        position: absolute;
    }

    #letter-1 {
        top: 60px;
        left: 150px;
    }

    #letter-2 {
        bottom: 60px;
        right: 150px;
    }
}

#join-us {
    padding: 24px;
}

// Tablet Size
@media screen and (min-width: 768px) {
    #hero {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    #intro {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;

            img {
                position: absolute;
                width: clamp(300px, 50%, 500px);
                height: clamp(300px, 50%, 400px);
                object-fit: cover;
                max-width: 500px;
                z-index: -10;
            }

            .container-1 {
                margin-left: 40%;
                padding-right: 40px;
            }
        }
    }

    #history {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            position: relative;
            justify-content: start;
            align-items: start;
            padding-top: 80px;
            padding-bottom: 80px;
            margin: 80px 0;
        }

        img {
            position: absolute;
            right: 0;
            bottom: 20%;
            width: clamp(200px, 50%, 500px);
            height: clamp(400px, 50%, 400px);
            object-fit: cover;
            max-width: 500px;
            z-index: 1;
        }

        .container-1 {
            z-index: 5;
        }

        .history-detail {
            margin-right: 40%;
        }
    }

    #letters {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-letter {
            position: absolute;
        }

        #letter-1 {
            width: clamp(200px, 50%, 500px);
            top: 10%;
            left: 5%;
        }

        #letter-2 {
            width: clamp(200px, 50%, 500px);
            bottom: 10%;
            right: 5%;
        }
    }

    #testimonies {
        padding: 40px;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    #map {
        padding: 40px;
    }
}

// Laptop Size
@media screen and (min-width: 1200px) {
    #intro {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;

            img {
                width: clamp(400px, 50%, 600px);
                height: clamp(300px, 50%, 500px);
            }

            .container-1 {
                margin-left: 30%;
                padding-right: 60px;
            }
        }
    }

    #history {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            position: relative;
            justify-content: start;
            align-items: start;
            padding-top: 80px;
            padding-bottom: 80px;
            margin: 80px 0;
        }

        img {
            position: absolute;
            right: 0;
            bottom: 20%;
            width: clamp(200px, 50%, 500px);
            height: clamp(400px, 50%, 400px);
            object-fit: cover;
            max-width: 500px;
            z-index: 1;
        }

        .container-1 {
            z-index: 5;
        }

        .history-detail {
            margin-right: 30%;
        }
    }

    #letters {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-letter {
            position: absolute;
        }

        #letter-1 {
            width: clamp(200px, 50%, 500px);
            top: 10%;
            left: 5%;
        }

        #letter-2 {
            width: clamp(200px, 50%, 500px);
            bottom: 10%;
            right: 5%;
        }
    }

    #testimonies {
        padding: 40px;
        margin-top: 160px;
        margin-bottom: 100px;
    }

    #map {
        padding: 120px 200px 200px 200px;
    }

    #join-us {
        margin-top: 160px;
    }
}