@use "../abstracts/variables" as v;

// Mobile Style
#hero {
    margin: 128px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2 {
        margin-bottom: 0;
    }

    .sec-head {
        margin-bottom: 20px;
    }

    #img-1 {
        width: 150px;
        top: -100px;
        right: -5%;
    }

    #img-2 {
        width: 100px;
        top: -70px;
        left: 10%;
    }

    #img-3 {
        width: 150px;
        bottom: -100px;
        left: -5%;
    }

    #img-4 {
        width: 120px;
        bottom: -100px;
        right: -5%;
    }


}

#abt-park {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .arrow-control {
        gap: 40px;
    }
}

#social-media {
    background-color: v.$green;
    margin: 0px auto;
    
    h2 {
        color: v.$white;
    }

    .socmed-cont {

        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;

            li {
                list-style: none;
            }
        }
    }

    .container-inline {
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }
}

#join-us {
    margin-top: 80px;
    padding: 24px;

    img {
        width: 100px;
        margin-bottom: 30px;
    }
}

// Tablet Size
@media screen and (min-width: 768px) {
    #hero {
        margin-top: 200px;
        margin-bottom: 200px;

        #img-1 {
            width: 250px;
            top: -200px;
            right: -5%;
        }
    
        #img-2 {
            width: 200px;
            top: -170px;
            left: 10%;
        }
    
        #img-3 {
            width: 250px;
            bottom: -150px;
            left: -5%;
        }
    
        #img-4 {
            width: 220px;
            bottom: -100px;
            right: -5%;
        }
    }

    #intro {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            justify-content: space-between;
            align-items: center;

            img {
                width: 50%;
                object-fit: cover;
                z-index: -10;
            }

            .container-1 {
                width: 50%;
                padding: 48px;
            }
        }
    }

    // Abt Park
    #abt-park {

        .container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            position: relative;
            justify-content: space-between;
            align-items: center;

            img {
                width: 50%;
                object-fit: cover;
                z-index: -10;
            }

            .container-1 {
                width: 50%;
                padding: 48px;
            }
        }
    }

    #testimonies {
        padding: 60px;
    }

    #map {
        padding: 40px;
    }

    #join-us {
        padding: 48px;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    #social-media {
        background-color: v.$green;
        margin: 0px auto;
        padding-bottom: 80px;

        .carousel-cont {
            .carousel-item-gen {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 48px;
                gap: 24px;
            }

            .carousel-pagination {
                display: none;
            }
        }
    }
}

// Laptop Size
@media screen and (min-width: 1200px) {
    #hero {
        margin-top: 300px;
        margin-bottom: 300px;

        #img-1 {
            width: 250px;
            top: -200px;
            right: 10%;
        }
    
        #img-2 {
            width: 200px;
            top: -170px;
            left: 10%;
        }
    
        #img-3 {
            width: 250px;
            bottom: -150px;
            left: 5%;
        }
    
        #img-4 {
            width: 220px;
            bottom: -100px;
            right: 5%;
        }
    }

    #testimonies {
        padding: 200px;
        margin-bottom: 100px;
    }

    #join-us {
        padding: 48px;
        margin-top: 200px;
        margin-bottom: 120px;
    }

    
}