@use "../abstracts/variables" as v;

#letters-list {
    width: 100%;
    overflow: hidden;
}

.letter-carousel {
    overflow: hidden;
    flex-wrap: nowrap;
}

// Tablet Size
@media screen and (min-width: 768px) {
    
}

// Laptop Size
@media screen and (min-width: 1200px) {
    
}