@use "../abstracts/variables" as v;

// Sliding Logo Sponsors
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%)
  }
}

#gallery {
  margin: 0 auto;
  padding-bottom: 0;
  overflow: hidden;
}

.sliding-img {
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
}

.sliding-img:hover .title-slide {
  animation-play-state: paused;
}

.img-slide {
  display: inline-block;
  animation: 30s slider infinite linear;

  img {
      width: 250px;
      height: 250px;
      padding: 20px;
  }
}
  
// Tablet Size
@media screen and (min-width: 768px) {
  #gallery {
    margin: 60px auto;
  }

  .img-slide {
  
    img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #gallery {
    margin: 80px auto;
  }

  .img-slide {
  
    img {
        width: 450px;
        height: 450px;
        padding: 20px;
    }
  }
}